<div class='main'>
    <% @categories.each do | category | %>
      <div class="sub">
        <p> <%= category.id %> </p>
        <p> <%= category.name %> </p>
        <p> <%= category.details %> </p>
      </div>
    <% end %>
</div>