<div>
  <div>
    <p> <%= @category.created_at.try(:to_date) %> </p>
    <p> <%= @category.name %></p>
    <p> <%= @category.details %></p>
  </div>

  <%= link_to 'Back', categories_path, class: 'btn btn-outline-primary btn-sm', method: :get %>
</div> 